.about-content {
	background: #FFFFFF;
	border: 1px solid #E8E8E8;
	box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.03);
	border-radius: 4px;
	.profile-pic-circle {
		width: 100%;
		position: relative;
	}
	.profile-pic-img {
		height: 200px;
		width: 200px;
		position: absolute;
		border-radius: 50%;
		border: 10px solid #fff;
		margin: 0 auto;
		margin-top: -130px;
		margin-left: -100px;
		left: 50%;
	}
}
