.card {
	display: block;
	cursor: pointer;
	background: #FFFFFF;
	border: 1px solid #E8E8E8;
	box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.03);
	border-radius: 4px;
	font-size: 15px;
	&:hover {
		box-shadow: 0px 3px 1px 0px rgba(0,0,0,0.05);
	}
	.project-img {
		position: relative;
		max-height: 160px; 
		overflow: hidden;
		text-align: center;
		border-top-left-radius: 4px;
		border-top-right-radius: 4px;
		@media screen and (max-width: 748px) {
			max-height: 292px;
		}
		&:before {
			display: block;
		    content: "";
		    width: 100%;
		    padding-top: 100%;
		}
		.img-background {
			opacity: 0.75;
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			background: #ccc;
			&.mix {
				background: linear-gradient(135deg, #ccc 0%, #ffffff 100%);
				mix-blend-mode: overlay;
			}
		}
		.app-img {
			position: absolute;
			height: 66%;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			border-radius: 16px;
			@media screen and (max-width: 748px) {
				height: 70%;
			}
		}
	}
	.project-info {
		
	}
}