/* ===============
   COLORS 
   =============== */
$grey: #ADADAD;
$twitter: #23CBFF;
$github: #4E433B;
$instagram: #EC4989;

/* ===============
   PRIMARY COLOR RULES 
   =============== */
.grey {
	color: $grey;
}

/* ===============
   SOCIAL COLOR RULES 
   =============== */
.twitter {
	color: $twitter;
}
.github {
	color: $github;
}
.instagram {
	color: $instagram;
}