/* ===============
   COLORS 
   =============== */
$black: #333333;
$grey: #ADADAD;
$dark-grey: #555459;
$red: #EC342F;
$twitter: #23CBFF;
$github: #4E433B;
$instagram: #EC4989;

/* ===============
   PRIMARY COLOR RULES 
   =============== */
.black {
	color: $black;
}
.grey {
	color: $grey;
}
.dark-grey {
   color: $dark-grey;
}
.red {
   color: $red;
}

/* ===============
   SOCIAL COLOR RULES 
   =============== */
.twitter {
	color: $twitter;
}
.github {
	color: $github;
}
.instagram {
	color: $instagram;
}