/* ===============
   FORM SETTINGS 
   =============== */

.form-input-label, .form-input {
	display: block;
}
.form-input-label {
	font-size: 14px;
}
.form-input, .form-area, .markdown-editor__textarea {
	font-size: 15px;
	width: 100%;
	border-radius: 3px;
	padding: 0.72em;
	border: 1px solid #e8e8e8;
	outline: none;
	user-select: none;
	text-decoration: none;
	white-space: nowrap;
	-webkit-appearance: none;
	-webkit-tap-highlight-color: transparent;
	&:hover {
		border: 1px solid rgba(39,41,43,0.25);
	}
	&:focus {
		border: 1px solid rgba(39,41,43,0.35);
	}
}
.form-area {
	resize: vertical;
	min-height: 140px;
}

.markdown-editor__textarea {
	resize: vertical;
	min-height: 200px;
}

.markdown-editor__preview-container,
.markdown-editor__editor-container h2 {
	display: none;
}

