.hire-me {
	.form-card {
		background: #fff;
		border: 1px solid #E8E8E8;
		border-radius: 4px;
		box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.03);
	}
	.form-body {
		.hire-message {
			font-size: 23px;
		}
	}
}