.project-content {
	background: #fff;
	border-radius: 4px;
	border: 1px solid #E8E8E8;
	box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.03);
	.project-heading {
		* {
			margin: 0;
			padding: 0;
		}
	}
	.project-heading {
		.project-title {
			margin: 0.25em 0 0.25em;
		}
		.project-slug {
			font-size: 17px;
		}
	}
	.project-markdown {
		.markdown-body {
			width: 100%;
		}
	}
}